.escala{
	width: 100vw;
	.container{
		h1{
			text-align: center;
			margin-top: 4rem;
			margin-bottom: 2rem;
		}
		table {
            border-collapse: collapse;
			width: 100%;
        }
        th, td {
            border: .1rem solid #000000;
            padding: .5rem;
			text-align: center;
        }
        th {
			background-color: #720000;
			color: white;
        }
		td{
			color: black;
		}
		.sábado, .domingo{
			background: gray;
			td{
				color: white;
			}
		}

		.quinta-feira{
		background: lightblue;
		}
		.segunda-feira{
			background-color: black;
		}
		.div-month{
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: -2rem;
			margin-bottom: 1rem;
			.btn-month{
				transition: .2s;
				cursor: pointer;
				background: #720000;
				color: white;
				padding: .5rem .8rem;
				border-radius: 50%;
				margin: 0 .5rem;
			}
			.btn-month:hover{
				background-color: #e39595;
				color: #1f1f1f;
				transition: .2s;
			}
		}

		.btn-gerar{
			cursor: pointer;
			background: #720000;
			width: fit-content;
			padding: .3rem 1.5rem;
			border-radius: 2.21875rem;
			color: white;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 1.2rem;
			margin: 2rem auto 4rem auto;
			transition: .2s;
		}
		.btn-gerar:hover{
			transition: .2s;
			background: #e39595;
			color: #1f1f1f;
		}

	}
}

@media screen and (max-width: 400px){
	.escala{
		.container{
			margin: 0 .5rem;
		  table{
			font-size: .6rem;
		  }
		  th, td{
			padding: .1rem .1rem;
		  }
		}
	}
}
@media screen and (max-width: 1000px) and (min-width: 401px){
	.escala{
		.container{
			margin: 0 .5rem;
		  th, td{
			padding: 0rem .5rem;
		  }
		}
	}
}