nav{
	width: 100vw;
	background: #720000;
	.container{
		position: relative;
		padding: .8rem 0;
		display: flex;
		align-items: center;
		img{
			margin: 0 auto;
			height: 2rem;
		}
		.btn-admin{
			cursor: pointer;
			position: absolute;
			right: 0;
			background: white;
			padding: .2rem 1.5rem;
			border-radius: 2.21875rem;
			float: right;
			color: #720000;
			text-transform: uppercase;
			font-weight: bold;
			transition: .2s;
		}
		.btn-admin:hover{
			transition: .2s;
			background: #1f1f1f;
			color: white;
		}
	}
}